/* set variables */

:root {
    --pika-yellow:#FFF2AD;
    --dark-yellow:#fcd200;
    --grey:#414141;
}

/* disable selecting */
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* add fonts */

@font-face {
    font-family: 'Metric Light';
    src: url('fonts/metric-light.woff2') format('woff2'),
         url('fonts/metric-light.woff') format('woff'),
         url('fonts/metric-light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Metric Regular';
    src: url('fonts/metric-regular.woff2') format('woff2'),
         url('fonts/metric-regular.woff') format('woff'),
         url('fonts/metric-regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Metric Semibold';
    src: url('fonts/metric-semibold.woff2') format('woff2'),
         url('fonts/metric-semibold.woff') format('woff'),
         url('fonts/metric-semibold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Bokutachi no Gothic 2 Bold';
    src: url('fonts/Boku2-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Pokemon GB';
    src: url('fonts/PokemonGb-RAeo.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon GB Japan KT';
    src: url('fonts/PokemonGbJapanKt-8Rw2.ttf') format('truetype');
}

/* general styles & typefaces */

body {
    background:#fff;
    color:#000;
    font-family: 'Pokemon GB', sans-serif;
    font-display: swap;
    overflow-y:scroll;
    overflow-x:hidden;
}

body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

h1 {
    font-size:2em;
    font-family: 'Pokemon GB', sans-serif;
}

h2 {
    font-size:1.25em;
    font-weight:bold;
    font-family: 'Pokemon GB', sans-serif;
}

h2.subtitle {
    font-weight:lighter;
    font-family: 'Pokemon GB', sans-serif;
}

nav, #main {
    z-index:100;
}

.tablink {
    font-weight:bold;
    padding:1em 0.5em !important;
}

input, button {
    font-family:'Pokemon GB', san-serif;
    font-size:1em;
}

label {
    font-weight:bold;
}

/* navbar */

#hamburger {
    width:100%;
}

#hamburgmenu {
    flex-basis:10%;
}

#links {
    flex-basis:90%;
    display:flex;
    padding:0 1rem;
    justify-content:space-between;
}

#links li {
    text-align:center;
    padding:0;
}

nav, .navbar {
    width:100%;
    cursor:pointer;
}

#links {
    padding:0 1rem;
    justify-content: space-around;
}

.navbar {
    background:var(--pika-yellow);
    display:flex;
    box-sizing: border-box;
    padding:0 0.5rem;
    justify-content: space-evenly;
    align-items:center;
}

.navbar li {
    list-style-type:none;
    padding:0rem 0.5rem;
    flex-flow:row nowrap;
    display: inline;
    font-size:0.65em;
}
.navbar li a, .navbar a, .navbar li {
    text-decoration: none;
    color:var(--grey);
}

.navbar a:hover, #links li:hover {
    color:#fff;
    transition:color 300ms;
}

#links {
    visibility:hidden;
    transition:opacity 300ms;
}

hr { 
    margin:1.5rem 0rem;
    text-align:center;
    border:1px solid #f3f3f3;
    border-radius:10rem;
    background-color:#f3f3f3;
    color:#f3f3f3;
}

/* main */

#main {
    text-align: center;
    padding:2rem;
}

#title {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center;
    text-align:left;
}

#main h1, #main h2 {
    margin:0;
}

#mainsprite {
    height:45vh;
    width:auto;
}

/* curved top yellow bg */

#topbg {
    background:var(--pika-yellow);
    width:100%;
    height:70%;
    z-index:-1000;
    position: absolute;
    top:-15vh;
    left:0;
    border-radius:5rem;
}

/* content */

#content .navbar {
    background:none;    
}

#content p {
    font-size:0.9em;
    line-height:1.5em;
}

#content .navbar li {
    /* padding:0.25rem 2rem; */
    width:100%;
    border-bottom:2px solid #a3a3a3;
    transition:border-color 300ms, color 300ms;
    font-size:.65em;
}

#content .navbar li:hover {
    color:#8a8a8a;
    transition:color 300ms;
}

#content .navbar .active {
    border-color:var(--dark-yellow);
}

#infos {
    margin-top:1.5rem;
    text-align:left;
}

#ability, #variant {
    display: none;
}

#variant .contain {
    display:flex;
    flex-flow:column nowrap;
}

#variant img {
    max-height:20vh;
    width:15vw;
    float:left;
    object-fit:cover;
}

/* form */

#subscribe {
    text-align:center;
}

#subscribe span {
    font-size:0.7em;
}

form {
    margin-top:1.5rem;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    width:40%;
    margin:0.25em;
    text-align:left;
    flex:0 0 auto;
}

.form-group:nth-of-type(3) {
    flex:1 0 100%;
}

form input {
    width:100%;
    border:0.15rem solid var(--pika-yellow);
    border-radius:1.25rem;
    height:2em;
    padding:1.5em 1rem;
    margin:0.25em 0rem;
    box-sizing:border-box;
    transition:border 300ms;
}

form input:focus {
    outline:none;
    border-color:var(--dark-yellow);
    transition:border 300ms;
}

.form-group:last-of-type {
    margin-top:1rem;
    width:100%;
    text-align:center;
}

form button {
    padding:0.75rem;
    vertical-align: middle;
    text-transform: lowercase;
    background:var(--pika-yellow);
    border-radius:1rem;
    color:var(--grey);
    border:0.15rem solid var(--dark-yellow);
    box-shadow:none;
    transition:background-color 300ms;
}

form button:hover {
    background:#fff;
    transition:background-color 300ms;
}

form button:active {
    background:var(--dark-yellow);
    color:#fff;
}

#name {
    visibility:hidden;
}

@media only screen and (min-width : 800px) {
    #links li {
        font-size:0.8em;
    }
    #content .navbar li {
        font-size:1em;
    }
}

/* for desktop/bigger screens wider than 1400px */
@media only screen and (min-width : 1400px) {
    body {
        background:var(--pika-yellow);
    }
    h1 {
        font-size:3em;
        margin-bottom:0;
    }
    #title .header .subtitle, #topbg, .navbar, #about h2 {
        display:none;
    }
    #title {
        justify-content: flex-start;
        align-items:flex-start;
        flex-flow:column nowrap;
        padding:0.5rem;
    }
    .subtitle, h2 {
        font-size:2em;
    }
    h3 {
        margin:1.25em 0em;
    }
    #dexnumber {
        order:-1;
    }
    #mainsprite {
        height:100vh;
        z-index:-100;
        align-self:flex-end;
    }
    #main h1 {
        margin-top:0.25em;
    }
    #main {
        display:flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    #title, #mainsprite, #content {
        flex:1 0;
    }
    #infos {
        margin-top:0;
    }
    #ability, #variant {
        display:block;
        text-align:right;
        padding:0.25rem;
    }
    #content p {
        margin:0;
    }
    .tabcontent {
        font-size:0.85em;
        line-height:1.2rem;
    }
    #about {
        margin-top:-1.5em;
    }
    #about p {
        margin-top:2.5rem;
        margin-bottom:0;
    }
    #variant img {
        height:8vh;
        width:auto;
    }
    #variant {
        margin-top:3vh;
    }
    hr {
        border:1px solid var(--grey);
        background:var(--grey);
        color:var(--grey);
    }
    #subscribe {
        width:100%;
        text-align:left;
    }
    #subscribe span {        
        font-size:0.8em;
    }
    #subscribe form {
        flex-flow:column nowrap;
        justify-content: center;
    }
    #subscribe .form-group {
        width:100%;
    }
    #name {
        z-index:-50;
        visibility:visible;
        position: absolute;
        bottom:5vh;
        color:rgba(255,255,255,0.4);
        font-size:10em;
        font-weight:bold;
        font-family:'Pokemon GB Japan KT', serif;
    }
}